<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Please, add the details of your costume: </h1>
      <%= render "costumes/new_costume_form", :costume => @costume%>
    </div>
  </div>
</div>