<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render "costumes/costume_show_card", :costume => @costume%>
      <h1>BOOKING PARTIAL GO HERE?</h1>
    </div>
  </div>
</div>