<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render "costumes/costume_show_card", :costume => @costume%>
    </div>
    <% if(@costume.user != current_user) %>
      <%= render "bookings/form" %>
      <%= render "reviews/review_form", :costume => @costume, :review => @review%>
      <%= render "reviews/reviews_container", :costume => @costume %>
    <% end%>
  </div>
</div>
