<div class="container-box d-flex flex-wrap justify-content-center">
  <div class="card-trip m-2">
      <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, id: "user-image", gravity: :face, crop: :fill, width: 450, height: 300 %>
      <% else %>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      <% end %>
    <div class="my-2 p-3">
        <div>
          <div class="p-1 d-flex justify-content-between">
            <h2>Username:</h2>
              <p><%=current_user.first_name%></p>
          </div>
          <div class="p-1 d-flex justify-content-between">
            <h2>Email:</h2>
              <p><%=current_user.email%></p>
          </div>
          <div class="p-1 d-flex justify-content-between">
            <h2>Amazon Dropbox Location:</h2>
              <p><%= current_user.address%></p>
          </div>
      </div>
    </div>
  </div>
</div>
