.banner {
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 200px;
  }

  .logo-title {
    position: relative;
    bottom: 90px;
    right: 30px;
    img {
      vertical-align: middle;
      border-style: none;
      position: relative;
      top: 30px;
      right: 30px;
  }
  }

  .container-search {
    position: relative;
    bottom: 80px;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  }

  .container-landing {
      position: absolute;
      left: 50px;
      bottom: 0px;
      top: 420px;
      height: 10px;
  }

  h1 {
    font-family: "Roboto Condensed";
    font-size: 32px;
  }