.mapboxgl-popup {
  max-width: 200px;
  // max-height: 200px;
  // overflow: scroll;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-color: 1px solid rgba(40, 40, 40, .5);
}

.mapboxgl-canvas {
  position: sticky;
  top: 0;
  height: 100vh;
}
