<div class="container d-flex justify-content-center">
  <div class="card col-6 p-3" style="width: 22rem; margin-top: 50px;">
    <h1>What people said:</h1>
    <div class="list-group "> 
      <% costume.reviews.reverse.each do |review| %> 
        <%= render "reviews/review_card", :review => review %>
      <% end %> 
  </div>
</div>

