<div class="container d-flex justify-content-center">
  <div class="card col-6 p-3" style="width: 22rem; margin-top: 50px;">
    <button class="btn btn-outline-danger btn-block" data-toggle="collapse" data-target="#demo">Leave a review</button>

    <div id="demo" class="collapse">
        <%= simple_form_for [@costume, @review] do |f| %>
          <%= f.input :rating, collection: 0..5, include_blank: false %>
          <%= f.input :content%>
          <%= f.submit class: "btn btn-outline-danger btn-block"  %>
        <% end %>
    </div>
  </div>
</div>